<div id="bill">
    <table>
      <tr>
        <td>Nombre del cliente:</td>
        <td>nombre cliente</td>
      </tr>
      <tr>
        <td>Fecha de compra:</td>
        <td>hoy</td>
      </tr>
      <tr>
        <td>Artículos:</td>
        <td>
          <table>
            <tr>
              <td>mombre</td>
              <td>2</td>
              <td>2000</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>Total:</td>
        <td>18000</td>
      </tr>
    </table>
  </div>